PORT=5001
NODE_ENV=development
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=luckystay_db
HOSTEX_BASE_URL=https://api.hostex.io/v3
HOSTEX_API_KEY=zxWpNqZJNhL6RB2Tq1g4x6JXNQrQquPF0Y2V9YdB3D2DtpuT7sWsm3wUnahuftV9
CLIENT_URL=http://localhost:5173
BASE_URL=http://localhost:5001
